<%= form_with(model: comment, url: plan_plan_item_comments_path(plan_id: plan_item.plan_id,plan_item_id: plan_item.id),method: :post) do |form| %>
  <div class="field">
    <%= form.text_area :content,  placeholder: I18n.t("message.please_write_comment"), class: "textarea"%>
  </div>
  <div class="actions">
    <%= form.submit I18n.t("button.add_comment") %>
  </div>
<% end %>