.card {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  background-color: rgb(237, 248, 248);
  margin-left: auto;
  margin-right: auto;
}

.card_mini {
  width: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  background-color: rgb(237, 248, 248);
  margin-left: auto;
  margin-right: auto;
}

.card_margin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: 200px;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
}

