
.message_box {
  width: 80%;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  border: double 5px #4ec4d3;
  text-align: center;
}

.error_message_box {
  width: 80%;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
  border: double 5px #d34e4e;
  text-align: center;
}
