#sortable_list_A{
  border: double 5px #4ec4d3;
  height: 600px;
  width: 250px;
  overflow: auto;
}

#sortable_list_B{
  border: double 5px #4ec4d3;
  height: 600px;
  width: 250px;
  overflow: auto;
}
