#sortable_list_A{
  height: 600px;
  width: auto;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

#sortable_list_B{
  height: 600px;
  width: auto;
  overflow: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
